/* Hide author profile on Safari for iPhone */
@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio:0) {
    @supports (-webkit-overflow-scrolling: touch) {
      .author-profile {
        display: none;
      }
    }
  }

figure {
    margin-bottom: 0; /* Remove default margin if any */
}

figure img {
    margin-bottom: 0; /* Ensure no margin below the image */
}

figure figcaption {
    margin-top: 5px; /* Adjust to your preferred spacing */
    margin-bottom: 20px; /* Adjust this value to add more space under the caption */
}
 
  