body {
    text-align: center;
    padding: 50px;
    font-family: 'Arial', sans-serif;
}

.splash-container {
    margin-top: 20%;
}

.enter-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
}

.enter-btn:hover {
    background-color: #005f73;
}
