---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.figure-size {
    width: 62.5%;  /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio of the image */
}

