---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.home .site-header {
    height: 300px; /* Or whatever height you prefer */
    background-size: cover; /* Or 'contain' to fit the whole image */
    background-position: center center;
  }  

.figure-size {
    width: 62.5%;  /* Adjust the width as needed */
    height: auto; /* Keeps the aspect ratio of the image */
}

.excerpt {
  color: #3498db; /* Replace with your desired color */
}

